<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page en construction</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            text-align: center;
            padding: 50px;
        }

        h1 {
            color: #333;
        }

        p {
            color: #777;
        }
    </style>
</head>
{%include 'home/index.html'%}
<body>
    <h1>Page en construction</h1>
    <p>Nous travaillons actuellement sur cette page. Merci de revenir ultérieurement.</p>
</body>

</html>
