<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Chatbot (IA)</title>
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/chatbot_style.css">
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/chatbot_cookie.css">
</head>

<body>
    <div class="container">
        <div class="chatbox">
            <div class="chatbox__support">
                <div class="chatbox__header">
                    <div class="chatbox__image--header">
                        <img src="{{ config.ASSETS_ROOT }}/img/chatbot/ffg.png" alt="image">
                    </div>
                    <div class="chatbox__content--header">
                        <p class="chatbox__description--header">Bonjour je suis Vocabot comment puis-je vous aider? Vocabot ver--1 test</p>
      
                    </div>
                </div>
                <div class="chatbox__messages">
                    <!-- Insérez ici les messages de chat -->
                </div>
                <div class="chatbox__footer">
                    <input type="text" placeholder="Écrivez un message...">
                                        <button type="button" class="clear_button"><img
                            src="{{ config.ASSETS_ROOT }}/img/chatbot/delete.png"
                            alt="effacer"></button>
                    <button type="submit" class="chatbox__send--footer send__button"><img
                            src="{{ config.ASSETS_ROOT }}/img/chatbot/send.png" alt="envoi"></button>
                </div>
            </div>
            <div class="chatbox__button">
                <button><img src="{{ config.ASSETS_ROOT }}/img/chatbot/chatbot.png" /></button>
            </div>
        </div>
    </div>

    <div id="cookie-consent" class="cookie-consent">
        <div class="cookie-consent__message">
            <p>Nous utilisons des cookies pour améliorer votre expérience de navigation. En continuant à naviguer sur ce
                site, vous acceptez notre utilisation des cookies.</p>
            <button id="cookie-consent__accept" class="cookie-consent__accept">Accepter</button>
        </div>
    </div>
    <script>

        const cookieConsent = document.getElementById('cookie-consent');
        const cookieConsentAccept = document.getElementById('cookie-consent__accept');

        function showCookieConsent() {
            cookieConsent.style.display = 'block';
        }

        function hideCookieConsent() {
            cookieConsent.style.display = 'none';
            localStorage.setItem('cookieConsent', 'true');
        }

        cookieConsentAccept.addEventListener('click', hideCookieConsent);

        const hasCookieConsent = localStorage.getItem('cookieConsent');
        if (!hasCookieConsent) {
            setTimeout(showCookieConsent, 1000);
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $SCRIPT_ROOT = {{ request.script_root | tojson }};
    </script>
    <script type="text/javascript" src="{{ config.ASSETS_ROOT }}/js/chatbot.js"></script>
    
</body>

</html>