{% extends 'layouts/base.html' %}

{% block stylesheets %}
    <!-- Ajout des liens vers les fichiers CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock stylesheets %}

{% block body_class %} g-sidenav-show bg-gray-100 {% endblock %}

{% block content %} 
    <div class="container">
        <p class="lead">Bienvenue, {{ current_user.username }}!</p>

        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="image"><i class="fas fa-user-circle"></i> Photo de Profil:</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="image" name="image" accept="image/*">
                    <label class="custom-file-label" for="image">Choisir un fichier</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary"><i class="fas fa-upload"></i> Changer de Photo</button>
        </form>

        <hr>

        {% if user_profile.image %}
            <img src="data:image/jpeg;base64,{{ user_profile.image }}" alt="Profile Picture" class="img-fluid rounded-profile-img">
        {% endif %}
    </div>

    {% include "includes/footer.html" %}
{% endblock content %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- Ajoutez vos scripts JS spécifiques ici -->
{% endblock javascripts %}
