{% extends 'layouts/base-fullscreen.html' %}

{% block stylesheets %}
<!-- Les styles spécifiques vont ICI -->
<!-- Add your specific stylesheets here -->

<style>
    /* Ajout de styles pour positionner l'icône à l'intérieur de l'input */
    .show-password {
        position: relative;
    }
    
    .toggle-password {
        position: absolute;
        cursor: pointer;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
    </style>
{% endblock stylesheets %}

{% block content %}
<main class="main-content mt-0">
    <section>
        <div class="page-header min-vh-100">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
                        <div class="card card-plain">
                            <div class="card-header pb-0 text-left">
                                <h4 class="font-weight-bolder">Réinitialisation de mot de passe</h4>
                                <p class="mb-0">Entrez votre nouveau mot de passe</p>
                            </div>

                            {% if success_message %}
                            <!-- Success Message -->
                            <div class="alert alert-success" role="alert">
                                {{ success_message }}
                            </div>
                            {% endif %}

                            {% if form.errors %}
                            <!-- Error Messages -->
                            <div class="alert alert-danger" role="alert">
                                {% for field, messages in form.errors.items() %}
                                {% for message in messages %}
                                {{ message }}
                                {% endfor %}
                                {% endfor %}
                            </div>
                            {% endif %}

                            <form method="POST"
                                action="{{ url_for('authentication_blueprint.reset_password', token=token) }}">
                                <!-- CSRF Token -->
                                {{ form.hidden_tag() }}

                                <!-- New Password Field -->
                                <div class="mb-3 position-relative">
                                    {{ form.new_password.label(class="form-label") }}
                                    <div class="show-password">
                                        {{ form.new_password(class="form-control", type="password", id="new_password")
                                        }}
                                        <span class="toggle-password"
                                            onclick="togglePassword('new_password', 'toggle_new_password')">
                                            <i id="toggle_new_password" class="fa fa-eye-slash"></i>
                                        </span>
                                    </div>
                                    {% for error in form.errors.new_password %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ error }}
                                    </div>
                                    {% endfor %}
                                </div>

                                <!-- Confirm Password Field -->
                                <div class="mb-3 position-relative">
                                    {{ form.confirm_password.label(class="form-label") }}
                                    <div class="show-password">
                                        {{ form.confirm_password(class="form-control", type="password",
                                        id="confirm_password") }}
                                        <span class="toggle-password"
                                            onclick="togglePassword('confirm_password', 'toggle_confirm_password')">
                                            <i id="toggle_confirm_password" class="fa fa-eye-slash"></i>
                                        </span>
                                    </div>
                                    {% for error in form.errors.confirm_password %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ error }}
                                    </div>
                                    {% endfor %}
                                </div>

                                <!-- Submit Button -->
                                <div class="text-center">
                                    <button type="submit" name="register"
                                        class="btn bg-gradient-primary w-100 mt-4 mb-0">Réinitialiser le mot de
                                        passe</button>
                                </div>
                            </form>
                        </div>

                        <!-- Card Footer -->
                        <div class="card-footer text-center pt-0 px-sm-4 px-1">
                            <p class="mb-4 mx-auto">
                                Vous avez déjà un compte ?
                                <a href="{{ url_for('authentication_blueprint.login') }}"
                                    class="text-primary text-gradient font-weight-bold">Se connecter</a>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Illustration Section -->
                <div
                    class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
                    <div class="position-relative">
                        <img class="max-width-800 w-100 position-relative z-index-2"
                            src="{{ config.ASSETS_ROOT }}/img/illustrations/reset_pass.jpg" alt="rocket">
                    </div>
                    <h4 class="mt-5 text-white font-weight-bolder">Votre inspection commence ici</h4>
                    <p class="text-white">@vocasara 2023. Tous droits réservés. Login Page</p>
                </div>
            </div>
        </div>
    </section>
</main>

<script>
    function togglePassword(inputId, toggleId) {
        var passwordInput = document.getElementById(inputId);
        var toggleIcon = document.getElementById(toggleId);

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            toggleIcon.classList.remove("fa-eye-slash");
            toggleIcon.classList.add("fa-eye");
        } else {
            passwordInput.type = "password";
            toggleIcon.classList.remove("fa-eye");
            toggleIcon.classList.add("fa-eye-slash");
        }
    }
</script>
{% endblock content %}

{% block javascripts %}
<!-- Le JavaScript spécifique va ICI -->
<!-- Add your specific JavaScript here -->
{% endblock javascripts %}
