{% extends 'layouts/base.html' %}

{% block title %} Confidentialite {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} g-sidenav-show bg-gray-100 {% endblock %}

{% block content %} 

<style>

/* Style du conteneur */
.privacy-policy {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

/* Style des titres */
.privacy-policy h1, .privacy-policy h2 {
    color: #333;
}

/* Style des paragraphes */
.privacy-policy p {
    line-height: 1.6;
}

/* Style des liens */
.privacy-policy a {
    color: #007bff;
    text-decoration: none;
}

.privacy-policy a:hover {
    text-decoration: underline;
}

</style>

 
  <div class="container-fluid my-3 py-3">
    <div class="row">
     
        <div class="container privacy-policy" >
            <h1>Accord de Confidentialité</h1>
    
            <p>Cet Accord de Confidentialité ("l'Accord") est établi entre Vocasara, entreprise spécialisée dans l'inspection des lignes électriques par drones, et l'Utilisateur de la plateforme web de Vocasara.</p>
    
            <p>En utilisant la webapp fournie par Vocasara, vous acceptez les termes et conditions suivants concernant la confidentialité de vos données et de vos interactions avec la plateforme.</p>
    
            <h2>Collecte et Utilisation des Données</h2>
    
            <p>Vocasara s'engage à collecter et utiliser vos données uniquement dans le cadre de la fonctionnalité principale de la webapp, à savoir l'inspection automatisée des défauts électriques sur les lignes.</p>
    
            <p>Aucune information personnelle identifiable de l'Utilisateur ne sera utilisée à des fins commerciales ou partagée avec des tiers sans consentement explicite.</p>
    
            <h2>Enregistrement des Conversations avec le Chatbot</h2>
    
            <p>La webapp de Vocasara est équipée d'un chatbot qui enregistre les conversations dans le but d'améliorer ses capacités. Ces enregistrements sont strictement destinés à un usage interne pour réentraîner le chatbot et améliorer ses performances.</p>
    
            <p>Les conversations enregistrées ne seront en aucun cas utilisées pour identifier les utilisateurs individuels, et les noms d'utilisateurs resteront cryptés pour garantir la confidentialité.</p>
    
            <h2>Sécurité des Données</h2>
    
            <p>Vocasara met en place des mesures de sécurité robustes pour protéger les données de ses utilisateurs contre tout accès non autorisé, divulgation ou altération. Les protocoles de sécurité sont continuellement mis à jour pour assurer la protection des informations sensibles.</p>
    
            <h2>Modifications de l'Accord</h2>
    
            <p>Vocasara se réserve le droit de modifier cet Accord de Confidentialité à tout moment. Les utilisateurs seront informés de toute modification par le biais de notifications sur la plateforme web ou par d'autres moyens appropriés.</p>
    
            <p>En utilisant la webapp de Vocasara, vous acceptez les termes de cet Accord de Confidentialité. Si vous n'êtes pas d'accord avec ces termes, veuillez cesser toute utilisation de la plateforme.</p>
    
            <p>Merci de faire confiance à Vocasara pour l'inspection des lignes électriques par drones. Pour toute question concernant cet Accord de Confidentialité, veuillez nous contacter à l'adresse suivante : <a href="mailto:contact@vocasara.com">contact@vocasara.com</a>.</p>
        </div>
         
            
       
      </div>
    </div>

    {% include "includes/footer.html" %}
    
  </div>
  <script>
  // Défilement doux lors de la navigation vers les ancres
document.addEventListener("DOMContentLoaded", function() {
    const links = document.querySelectorAll('a[href^="#"]');
    
    for (const link of links) {
        link.addEventListener('click', clickHandler);
    }
    
    function clickHandler(e) {
        e.preventDefault();
        const href = this.getAttribute('href');
        const target = document.querySelector(href);
        const offsetTop = target.offsetTop;
    
        window.scrollTo({
            top: offsetTop,
            behavior: 'smooth'
        });
    }
});

  </script>
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
