<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Vocasara</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/sidebar.css">
</head>

<body>

    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Vocasara</h3>
                <strong>V</strong>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="/acceuil">
                        <i class="glyphicon glyphicon-home"></i>
                        Accueil
                    </a>
                </li>
                <li>
                    <a href="/generation_rapport">
                        <i class="glyphicon glyphicon-tasks"></i>
                        Traitements
                    </a>
                </li>
                <li>
                    <a href="#LocalisationSubmenu" data-toggle="collapse" aria-expanded="false">
                        <i class="glyphicon glyphicon-map-marker"></i>
                        Localisation
                    </a>
                    <ul class="collapse list-unstyled" id="LocalisationSubmenu">
                        <li><a href="/localisation_page">Visible</a></li>
                        <li><a href="#">Invisible</a></li>
                    </ul>
                </li>
                <li class="active">
                    <a href="#statsSubmenu" data-toggle="collapse" aria-expanded="false">
                        <i class="glyphicon glyphicon-stats"></i>
                        Statistiques
                    </a>
                    <ul class="collapse list-unstyled" id="statsSubmenu">
                        <li><a href="/statistiques">Visible</a></li>
                        <li><a href="#">Invisible</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-check"></i>
                        Inspections
                    </a>
                </li>
                <li>
                    <a href="/apropos">
                        <i class="glyphicon glyphicon-info-sign"></i>
                        A propos
                    </a>
                </li>
                <li>
                    <a href="#ProfilSubmenu" data-toggle="collapse" aria-expanded="false">
                        <i class="glyphicon glyphicon-user"></i>
                        Profil
                    </a>
                    <ul class="collapse list-unstyled" id="ProfilSubmenu">
                        <li><a href="{{ url_for('authentication_blueprint.user_profile') }}">Informations</a></li>
                        <li><a href="/photo_upload">Photo</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{{ url_for('authentication_blueprint.logout') }}">
                        <i class="glyphicon glyphicon-log-out"></i>
                        Déconnexion
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-align-left"></i>
                            <span></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#" id="nightModeToggle">
                                    <i class="glyphicon glyphicon-adjust"></i>
                                    <!-- Utilisation de l'icône d'éclair pour représenter le mode nuit -->
                                    <span class="glyphicon glyphicon-flash"></span>
                                </a>
                            </li>
                            <li><a href="{{ url_for('authentication_blueprint.logout') }}">Déconnexion</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Espace réservé pour intégrer d'autres pages avec la méthode %include ''page.html% -->
        </div>
    </div>
    

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- ... (votre code existant) ... -->

<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });

        // Gestionnaire d'événements pour le bouton "Mode Nuit/Blanc"
        $('#nightModeToggle').on('click', function () {
            $('body').toggleClass('night-mode'); // Ajout/suppression de la classe 'night-mode' sur le body
            $('.navbar').toggleClass('night-mode'); // Ajout/suppression de la classe 'night-mode' sur la navbar
            $('#sidebar').toggleClass('night-mode'); // Ajout/suppression de la classe 'night-mode' sur la sidebar

            // Ajoute la classe 'button-clicked' au bouton cliqué pour l'effet d'englobement
            $(this).addClass('button-clicked');
            // Retire la classe 'button-clicked' des autres boutons pour réinitialiser l'effet
            $('#sidebarCollapse').removeClass('button-clicked');
        });
    });
</script>

</body>

</html>
