{% extends 'layouts/base.html' %}

{% block title %} Invoice {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} g-sidenav-show bg-gray-100 {% endblock %}

{% block content %} 

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Localisation des defauts</title>
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css" />

<style>
    #map {
        height: 90vh;
        border: 2px solid rgb(228, 228, 240);
       

    }
</style>

 
  <div class="container-fluid my-3 py-3">
    <div class="row">
     
       
         
                     
              
                <div class="container-fluid">
                    
                        <div class="col-md-12">
                            <div id="map"></div>
                        </div>
                   
                   
               
           
          </div>
        
      </div>
    </div>

    {% include "includes/footer.html" %}
    
  </div>

  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
        var map;
        var tileLayers = {};
        var currentMapType;

        function createDefaultMap() {
            map = L.map('map', {
                attributionControl: false
            }).setView([14.6928, -17.4467], 6);

            var streetLayer = L.tileLayer('https://mt1.google.com/vt/lyrs=r&x={x}&y={y}&z={z}', {
                maxZoom: 30,
            });

            var satelliteLayer = L.tileLayer('https://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}', {
                zIndex: 50,
                opacity: 1,
                maxZoom: 24,
                subdomains: ["mt0", "mt1", "mt2", "mt3"]
            });

            var argisSatelliteLayer = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
                maxZoom: 17,
            });

            tileLayers['Street Map'] = streetLayer;
            tileLayers['Satellite'] = satelliteLayer;
            tileLayers['Argis Satellite'] = argisSatelliteLayer;

            streetLayer.addTo(map);

            map.on('baselayerchange', function (eventLayer) {
                currentMapType = eventLayer.name;
            });

            L.control.layers(tileLayers).addTo(map);
        }

        createDefaultMap();

 
    </script>
  
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
