<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaflet Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            height: 100vh;
        }
    </style>
</head>
{%include 'home/index.html'%}
<body>
 
<div id="map"></div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
    var map;
    var tileLayers = {};
    var currentMapType;

    // Fonction pour créer et afficher la carte par défaut
    function createDefaultMap() {
        map = L.map('map', { attributionControl: false }).setView([14.6928, -17.4467], 6); // Centré sur Dakar avec un zoom par défaut

        var streetLayer = L.tileLayer('https://mt1.google.com/vt/lyrs=r&x={x}&y={y}&z={z}', {
            maxZoom: 30,
        });

        var satelliteLayer = L.tileLayer('https://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}', {
            zIndex: 50,
            opacity: 1,
            maxZoom: 24,
            subdomains: ["mt0", "mt1", "mt2", "mt3"]
        });

        var argisSatelliteLayer = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
            maxZoom: 17,
        });

        tileLayers['Street Map'] = streetLayer;
        tileLayers['Satellite'] = satelliteLayer;
        tileLayers['Argis Satellite'] = argisSatelliteLayer;

        streetLayer.addTo(map);

        // Ajouter un gestionnaire d'événements pour gérer le changement de type de carte
        map.on('baselayerchange', function (eventLayer) {
            currentMapType = eventLayer.name; // Mettre à jour le type de carte actuel
        });

        // Ajouter le contrôle de changement de couche
        L.control.layers(tileLayers).addTo(map);
    }

    // Appeler la fonction pour créer la carte par défaut
    createDefaultMap();
</script>

</body>
</html>
