{% extends 'layouts/base.html' %}

{% block title %} Invoice {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} g-sidenav-show bg-gray-100 {% endblock %}

{% block content %} 
<title>Statistiques des Types de Défauts</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<style>
  .chart-container {
    width: 90%; /* Utiliser un pourcentage de la largeur */
    max-width: 600px; /* Ajustez la largeur maximale selon vos besoins */
    margin: 20px auto; /* Centrer le conteneur */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  @media (max-width: 768px) {
    .chart-container {
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 20px;
    }
  }
</style>

<div class="container-fluid my-3 py-3">
  <div class="row">
    <div class="card-header text-center">          
      <div id="container" style="display:flex; flex-direction: column; align-items: center;">
        <div class="chart-container">
          <h2>Pie Chart - Répartition des Défauts</h2>
          <canvas id="defautChart"></canvas>
        </div>
      
        <div class="chart-container">
          <h2>Mixed Chart - Nombre de Défauts et Évolution</h2>
          <canvas id="mixedChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "includes/footer.html" %}

    
  </div>
  <script>
    // Récupérer les données passées par Flask
    var data = JSON.parse('{{ data | safe }}');

    // Générer des couleurs aléatoires pour chaque segment de pie chart
    var randomColors = Array.from(
      { length: data.labels.length },
      () => "#" + Math.floor(Math.random() * 16777215).toString(16)
    );

    // Créer le graphique Pie
    var defautCtx = document.getElementById("defautChart").getContext("2d");
    var defautChart = new Chart(defautCtx, {
      type: "pie",
      data: {
        labels: data.labels,
        datasets: [{
          label: "Nombre de Défauts",
          data: data.values,
          backgroundColor: randomColors,
          borderColor: "rgba(255, 255, 255, 1)",
          borderWidth: 1,
        }],
      },
      options: {
        // options spécifiques au graphique Pie
      },
    });


    // Créer le graphique Mixed
    var mixedCtx = document.getElementById("mixedChart").getContext("2d");
    var mixedChart = new Chart(mixedCtx, {
      type: "bar",
      data: {
        labels: data.labels,
        datasets: [{
          label: "Nombre de Défauts",
          data: data.values,
          backgroundColor: randomColors,
          borderColor: "rgba(255, 255, 255, 1)",
          borderWidth: 1,
        }, {
          type: "line",
          label: "Évolution des Défauts",
          data: data.values,
          borderColor: "blue",
          borderWidth: 1,
          fill: false,
        }],
      },
      options: {
        // options spécifiques au graphique Mixed
      },
    });
  </script>
 
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
